.category__products{
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-family: sans-serif;

   
}

.single__category--product{
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    padding: 10px;

}
.btn__category{
    background-color: #002f34;
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;

    a{
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;

    }
}

.btn__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;

    h2{
        display: flex;
        text-align: center;
        font-size: 46px;
        color: #002f34;
        font-weight: 700;
        font-family: sans-serif;
        position: absolute;
        left: 500px;
    }

}